$carbonBlue:rgb(22, 76, 138);
$fadedCarbonBlue: rgba(22, 76, 138, 0.9);
$disabledCarbonBlue: rgba(22, 76, 138, 0.2);
$shadowCarbonBlue: rgba(22, 76, 138, 0.4);

$secondary: darkViolet;
$fadedSecondary: rgba(148,0,211, 0.9);
$shadowSecondary: rgba(148,0,211, 0.4);

$disabledGray: rgba(143, 143, 143, 0.842);
$mediumGray: #888;
$disabledGray: rgba(220,220,220, 0.5);